/DSTutorialOverlay/.DS_Store

/DSTutorialOverlay/TutorialOverlaySampleApp/.DS_Store

/DSTutorialOverlay/TutorialOverlaySampleApp/TutorialOverlaySampleApp.xcodeproj/xcuserdata/willgoss.xcuserdatad/xcschemes/xcschememanagement.plist

/DSTutorialOverlay/TutorialOverlaySampleApp/TutorialOverlaySampleApp/.DS_Store

/DSTutorialOverlay/TutorialOverlaySampleApp/TutorialOverlaySampleApp/Images.xcassets/.DS_Store

/.DS_Store
